# Game log in
requests
beautifulsoup4
pip-system-certs    # Certifi is currently unable to verify part of the cert chain

# Game websocket handling
websocket-client
rel

# FastAPI and related
fastapi
aiohttp
uvicorn
pydantic
bcrypt
python-multipart
python-jose[cryptography]
